body {
  color: white !important;
}

.nav-link {
  color: white !important;
}
.darker {
  background: #1a1d20 !important;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .bi {
  position: absolute;
  padding: 8px;
  pointer-events: none;
  color: #6c757d;
  font-size: 15px;
}

/* align icon */
.left-addon .bi {
  left: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}

.cover {
  position: absolute;
}

.profile {
  width: 20vw;
  margin-left: 2vw;
}

.name {
  margin-top: 12vw;
}

.about {
  margin-top: 3vw;
}

.btn1 {
  margin-top: 12vw;
}

.btn2 {
  margin-top: 12vw;
}

.p_item {
  width: 12vw;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #1e2024;
}

body::-webkit-scrollbar-thumb {
  background-color: #5c6066;
  border-radius: 20px;
  border: 3px solid #1e2024;
}
